Tests: compile-link
Depends: audioreach-spf-dev,
 libaudioreach-acdb-dev,
 libaudioreach-ats-dev,
 libaudioreach-gpr-dev,
 libaudioreach-gsl-dev,
 libaudioreach-osal-dev,
 libaudioreach-util-dev,
 build-essential,
 pkgconf

Tests: shared-libs
Depends: libaudioreach-acdb1,
 libaudioreach-ats1,
 libaudioreach-gpr1,
 libaudioreach-gsl1,
 libaudioreach-osal1,
 libaudioreach-util1,
 binutils
Restrictions: superficial
