Source: audioreach-graphservices
Section: misc
Maintainer: Radhika Garg <radhgarg@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13),
 libglib2.0-dev,
 pkgconf,
 qcom-libdiag-dev,
 audioreach-kernel-dev
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-graphservices
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-graphservices -b debian/latest
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-graphservices

Package: audioreach-graphservices
Architecture: arm64
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}, qcom-diag-router, qcom-libdiag
Description: AudioReach graph service libraries
 Provides cross-platform libraries for managing audio graphs
 in the AudioReach framework, including setup, control,
 data exchange, and calibration handling.

Package: audioreach-graphservices-dev
Architecture: arm64
Description: AudioReach graphservices - development files
 AudioReach graph service libraries
 Provides cross-platform libraries for managing audio graphs
 in the AudioReach framework, including setup, control,
 data exchange, and calibration handling.
 .
 This package contains library headers for the shared libraries shipped in the
 audioreach-graphservices  package.
Section: libdevel
Depends: audioreach-graphservices (= ${binary:Version}), ${misc:Depends}
